<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">Register</h2>
        
        <!-- Display error message if exists -->
        {% if error_message %}
            <p style="color: red; text-align: center;";>{{ error_message }}</p>
        {% endif %}

        <form action="{{ url_for('register') }}" method="POST" class="reg_form">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="aadhar">Aadhar Number:</label>
            <input type="text" id="aadhar" name="aadhar_number" required>

            <label for="mobile">Mobile Number:</label>
            <input type="text" id="mobile" name="mobile_number" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>

        <p class="try_login" style="text-align: center;">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
</html>


